In [4]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
from dateutil.relativedelta import relativedelta

In [5]:
%load_ext sql

In [6]:
%sql clickhouse://thanos:show_me_your_data@dev-01.aksimemor.me:8123/default

In [7]:
result = %sql SELECT * FROM marvel
dfDB = result.DataFrame()
dfDB.tail()

 * clickhouse://thanos:***@dev-01.aksimemor.me:8123/default
Done.

,user_id,installed_at,created_at,day,country,app_version_short,last_time_spent,lifetime_session_count,activity_kind,event_name,reporting_revenue
16811205,c618af02-e3c6-e90e-f837-a08b36393bed,2020-04-28 23:01:44,2020-05-17 02:05:06,18,us,2.1.0,7,11,session,nan,0.0
16811206,cf0ad38d-3a74-c536-f837-ae1120b01ad8,2020-04-24 05:44:12,2020-05-17 08:26:00,23,cz,2.1.0,0,5,session,nan,0.0
16811207,ae71e3fb-5943-ab3b-f837-dd3990547fb3,2020-04-26 14:59:45,2020-05-04 19:56:56,8,tr,2.1.0,1107,2,session,nan,0.0
16811208,78735274-8fd0-4c46-f838-0b3b3dd6ffea,2020-04-28 03:35:51,2020-05-02 23:22:32,4,us,2.1.0,573,5,session,nan,0.0
16811209,78735274-8fd0-4c46-f838-0b3b3dd6ffea,2020-04-28 03:35:51,2020-05-07 16:44:52,9,us,2.1.0,86,6,session,nan,0.0

In [9]:
dfDB.to_csv('E:\work\csv\marveldb.csv')

In [10]:
df = pd.read_csv('E:\work\csv\marveldb.csv')
df[:15]

,Unnamed: 0,user_id,installed_at,created_at,day,country,app_version_short,last_time_spent,lifetime_session_count,activity_kind,event_name,reporting_revenue
0,0,0cc89e46-55b4-dfb5-0095-0fb01928c395,2019-12-26 03:38:47,2020-03-27 14:40:38,92,us,1.7.4,0,12,event,revenue_all,2.990000
1,1,0cc89e46-55b4-dfb5-0095-0fb01928c395,2019-12-26 03:38:47,2020-03-27 16:25:38,92,us,1.7.4,0,13,event,revenue_all,6.990000
2,2,0cc89e46-55b4-dfb5-0095-0fb01928c395,2019-12-26 03:38:47,2020-03-28 01:11:46,92,us,1.7.4,0,17,event,revenue_all,6.990000
3,3,0cc89e46-55b4-dfb5-0095-0fb01928c395,2019-12-26 03:38:47,2020-03-31 16:32:22,96,us,1.7.4,0,36,event,revenue_all,9.990000
4,4,87c3e898-da20-0d91-04fe-7333bf99e479,2019-12-18 13:18:44,2020-02-15 10:51:03,58,vn,1.6.4,0,57,event,revenue_all,4.686260
5,5,87c3e898-da20-0d91-04fe-7333bf99e479,2019-12-18 13:18:44,2020-02-15 11:06:47,58,vn,1.6.4,0,57,event,revenue_all,4.686260
6,6,87c3e898-da20-0d91-04fe-7333bf99e479,2019-12-18 13:18:44,2020-02-19 16:24:17,63,vn,1.6.4,0,59,event,revenue_all,4.676041
7,7,e8c160bc-9a93-3285-0623-2a2c72264631,2019-12-25 21:57:15,2020-02-18 20:28:31,54,gb,1.6.2,0,16,event,revenue_all,9.089065
8,8,e8c160bc-9a93-3285-0623-2a2c72264631,2019-12-25 21:57:15,2020-03-25 21:50:13,90,gb,1.7.4,0,27,event,revenue_all,8.233419
9,9,216e78e2-1c24-a006-0908-f2aefd46da04,2019-12-26 04:05:37,2020-03-15 12:20:21,80,au,1.7.2,0,78,event,revenue_all,1.848119
10,10,aef1e23b-f894-208f-0a32-a27d5a2f8693,2019-12-16 11:52:06,2020-01-28 12:19:57,43,vn,1.5.3,0,129,event,revenue_all,1.941209
11,11,aef1e23b-f894-208f-0a32-a27d5a2f8693,2019-12-16 11:52:06,2020-01-28 12:21:38,43,vn,1.5.3,0,129,event,revenue_all,1.941209
12,12,aef1e23b-f894-208f-0a32-a27d5a2f8693,2019-12-16 11:52:06,2020-01-28 12:22:35,43,vn,1.5.3,0,129,event,revenue_all,1.941209
13,13,aef1e23b-f894-208f-0a32-a27d5a2f8693,2019-12-16 11:52:06,2020-01-28 12:26:23,43,vn,1.5.3,0,129,event,revenue_all,47.408630
14,14,aef1e23b-f894-208f-0a32-a27d5a2f8693,2019-12-16 11:52:06,2020-01-28 12:29:48,43,vn,1.5.3,0,129,event,revenue_all,47.408630

In [11]:
df.shape

(16811210, 12)

In [12]:
retention_list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,28,30,45,60,90]
dayli_arpu_list = np.arange(0, 31, 1).tolist()

def Dayli_new_user(listday):
    new_user_list = []
    for day in listday:
        new_user_list.append(len(df[(df.installed_at >= day.isoformat(sep=' ')) & (df.installed_at < next_date(day).isoformat(sep=' '))]['user_id'].unique().tolist()))
    return new_user_list

def next_date(date):
    return date + timedelta(days = 1)

def prev_date(date):
    return date - timedelta(days = 1)

def Retention(date_inst, retention_day, df2):
    if retention_day < 0:
        return 0
    if date_inst > stopdate:
        return 0
    dffilter1 = lambda x: ((df2.installed_at >= date_inst.isoformat(sep=' ')) & 
                           (df2.installed_at < next_date(date_inst).isoformat(sep=' ')))
    dffilter2 = lambda x: ((df3.day == retention_day) & 
                           (df3.activity_kind == 'session'))
    df3 = df2[dffilter1]
    install_count = len(df3['user_id'].unique().tolist())
    user_login = len(df3[dffilter2]['user_id'].unique().tolist())
    if user_login == 0 or install_count == 0:
        return 0
    return (user_login/install_count)*100

def Retention_for_days_list(days_list,retention_day, df2):
    l = []
    for day in days_list:
        l.append(Retention(day,retention_day, df2))
    return l

def All_time_retention():
    i = 0
    sep = 15
    listd = []
    dfRet = pd.DataFrame()
    while i < len(day_list):
        if i + sep < len(day_list):
            j = i
            while j < i+sep:
                listd.append(day_list[j])
                j += 1
            d = {'Date':listd}
            dfRes = pd.DataFrame(d)
            dfRes['NewUser'] = Dayli_new_user(listd)
            dffilter1 = ((df.installed_at >= prev_date(listd[-1]).isoformat(sep=' ')) &
                         (df.installed_at < next_date(listd[0]).isoformat(sep=' ')))
            df2 = df[dffilter1]
            for r in retention_list:
                dfRes['R%s'%r] = Retention_for_days_list(listd,r,df2)
            dfRet = dfRet.append(dfRes, ignore_index = True)
            listd.clear()
        else:
            j = i
            while j < len(day_list):
                listd.append(day_list[j])
                j += 1
            d = {'Date':listd}
            dfRes = pd.DataFrame(d)
            dfRes['NewUser'] = Dayli_new_user(listd)
            dffilter1 = ((df.installed_at >= prev_date(listd[-1]).isoformat(sep=' ')) & 
                         (df.installed_at < next_date(listd[0]).isoformat(sep=' ')))
            df2 = df[dffilter1]
            for r in retention_list:
                dfRes['R%s'%r] = Retention_for_days_list(listd,r,df2)
            dfRet = dfRet.append(dfRes, ignore_index = True)
            listd.clear()
        i += sep
    return dfRet

In [13]:
def ActivUserInPeriod(start_date, end_date, df2):
    if start_date > end_date:
        start_date, end_date = end_date, start_date
    dffilter1 = lambda x: ((df2.created_at >= start_date.isoformat(sep=' ')) &
                           (df2.created_at < end_date.isoformat(sep=' ')))
    dffilter2 = lambda x: df3.activity_kind == 'session'
    df3 = df2[dffilter1]
    df3 = df3[dffilter2]
    return len(df3['user_id'].unique().tolist())

def Get_df_in_date(start_date, end_date):
    if start_date > end_date:
        start_date, end_date = end_date, start_date
    dffilter1 = lambda x: df.created_at >= start_date.isoformat(sep=' ')
    df2 = df[dffilter1]
    dffilter2 = lambda x: df2.created_at < end_date.isoformat(sep=' ')
    df2 = df2[dffilter2]
    return df2

def CohortARPUday(day, df2):
    dffilter1 = lambda x: ((df2.installed_at >= day.isoformat(sep=' ')) & 
                           (df2.installed_at < next_date(day).isoformat(sep=' ')))
    df3 = df2[dffilter1]
    cohort_size = len(df3['user_id'].unique().tolist())
    dfTemp = pd.DataFrame()
    dfTemp['Date'] = [day, day, day]
    dfTemp['Cohort size'] = [cohort_size, cohort_size, cohort_size]
    dfTemp['Parameter name'] = ['Revenue', 'Dayli ARPU', 'Cumulative ARPU']
    d_cum_arpu = 0
    for retention_day in dayli_arpu_list:
        dffilter2 = lambda x: ((df3.day == retention_day) & 
                               (df3.activity_kind == 'event'))
        df4 = df3[dffilter2]
        d_revenue = df4['reporting_revenue'].sum()
        d_arpu = d_revenue/cohort_size
        d_cum_arpu += d_arpu
        dfTemp['D%s'%retention_day] = [d_revenue, d_arpu, d_cum_arpu]
    return dfTemp

def AllCohortARPU():
    dfCohort = pd.DataFrame()
    for day in day_list:
        df2 = Get_df_in_date(day, day+timedelta(31))
        if day == day_list[0]:
            dfCohort = CohortARPUday(day, df2)
        else:
            dfCohort = dfCohort.append(CohortARPUday(day, df2), ignore_index = True)
    return dfCohort

In [16]:
startdate1 = datetime(2019, 12, 16)
stopdate = datetime(2020, 7, 1)

stardaydate = datetime(2020, 3, 26) # использую эту дату для окончания вычислений, так как 
                                    # с 16 декабря до 26 марта в базе данных нет записей о входе в приложение
                                    # следовательно все Retention и ARPU будут равны нулю 

delta1 = stopdate - stardaydate
day_list = []
for i in range(delta1.days + 1):
    day_list.append(stopdate - timedelta(i))

In [17]:
dfRetention = All_time_retention()
dfRetention   # примерное время вычисления 17 минут

,Date,NewUser,R0,R1,R2,R3,R4,R5,R6,R7,...,R11,R12,R13,R14,R15,R28,R30,R45,R60,R90
0,2020-07-01,8631,99.803036,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2020-06-30,13915,95.278476,35.113187,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2020-06-29,14629,91.653565,50.249504,21.300157,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2020-06-28,15853,89.547720,49.731912,32.448117,14.388444,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2020-06-27,16160,88.471535,48.131188,31.002475,22.295792,10.674505,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,2020-03-30,25956,85.140237,50.019263,33.772538,25.119433,19.733395,15.907690,13.727077,11.673601,...,7.250732,6.734474,6.210510,5.713515,5.378333,2.388658,2.007243,1.290646,0.724303,0.439205
94,2020-03-29,30576,85.197541,49.862637,34.291601,25.873234,20.558608,17.042779,14.838435,12.477106,...,7.868917,7.424123,6.645735,6.053768,5.576269,2.570644,2.305730,1.350733,0.919021,0.464417
95,2020-03-28,24667,85.628573,49.110147,33.242794,24.790206,19.921352,16.641667,14.322779,12.449832,...,7.572871,7.260713,6.429643,6.421535,5.578303,2.720234,2.249970,1.483764,0.863502,0.478372
96,2020-03-27,22314,85.592005,48.440441,32.831406,24.455499,19.207672,15.658331,12.929103,11.369544,...,7.067312,6.695348,5.893161,5.440531,4.978937,2.375190,2.012190,1.245855,0.909743,0.434705
97,2020-03-26,17922,84.555295,49.168620,33.640219,25.080906,20.193059,16.192389,13.586653,11.962951,...,7.270394,6.611985,6.182346,5.808504,4.965964,2.399286,2.332329,1.378194,0.903917,0.435219

In [18]:
dfRetention.to_csv('E:\work\csv\Retention.csv')

In [19]:
dfCohort = AllCohortARPU()
dfCohort    # примерное время вычисления 8 минут

,Date,Cohort size,Parameter name,D0,D1,D2,D3,D4,D5,D6,...,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30
0,2020-07-01,8631,Revenue,1407.739097,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2020-07-01,8631,Dayli ARPU,0.163103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2020-07-01,8631,Cumulative ARPU,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103,...,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103,0.163103
3,2020-06-30,13915,Revenue,2136.350174,217.315478,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2020-06-30,13915,Dayli ARPU,0.153529,0.015617,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,2020-03-27,22058,Dayli ARPU,0.066941,0.015428,0.010725,0.002160,0.008637,0.004819,0.002777,...,0.005758,0.000655,0.000452,0.000854,0.000000,0.000533,0.000292,0.000000,0.000000,0.001403
290,2020-03-27,22058,Cumulative ARPU,0.066941,0.082368,0.093093,0.095253,0.103890,0.108710,0.111487,...,0.138508,0.139163,0.139615,0.140469,0.140469,0.141002,0.141294,0.141294,0.141294,0.142697
291,2020-03-26,17716,Revenue,699.412488,168.519364,146.544605,75.365909,34.631999,6.990000,27.410000,...,6.970000,3.980000,3.411198,3.490000,0.000000,0.000000,0.000000,0.000000,2.089686,0.000000
292,2020-03-26,17716,Dayli ARPU,0.039479,0.009512,0.008272,0.004254,0.001955,0.000395,0.001547,...,0.000393,0.000225,0.000193,0.000197,0.000000,0.000000,0.000000,0.000000,0.000118,0.000000
293,2020-03-26,17716,Cumulative ARPU,0.039479,0.048991,0.057263,0.061517,0.063472,0.063867,0.065414,...,0.072805,0.073029,0.073222,0.073419,0.073419,0.073419,0.073419,0.073419,0.073537,0.073537

In [20]:
dfCohort.to_csv('E:\work\csv\CohorARPU.csv')